
body{
background-color: rgb(43, 226, 113);
}

h1{
    text-align: center;
    text-decoration: underline;
    color: rgb(222, 135, 164);
}
.container-fluid {
    padding-top: 30px;
    padding-bottom: 70px;
  }


#button1{
    background-color: rgb(139, 214, 219); 
    border: none;
    color: white;
    padding: 60px;
    display: flex;
    justify-content: right, space-around;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }
  #button2 {
    background-color: rgb(139, 214, 219); 
    border: none;
    color: white;
    padding: 60px;
    display: flex;
    justify-content: center, space-around;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    
  }
  #button3{
    background-color: rgb(139, 214, 219); 
    border: none;
    color: white;
    padding: 60px;
    display: flex;
    justify-content: center, space-around;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }
  
p{  display: flex;
    flex-wrap: wrap;
    align-content:stretch;
    border: solid;
    font-size: 50px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: dotted, palevioletred;
}